.Page-footer {
    background-color: #2b2927;
    overflow: hidden;
    color: white;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.Footer-title-area {
    display: block;
    width: 30%;
    margin: 0 auto;
}